In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
n_df = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis = 'columns')
n_df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le_Sex = LabelEncoder()

In [6]:
n_df['Sex_n'] = le_Sex.fit_transform(n_df['Sex'])

In [7]:
n_df.head()

   Survived  Pclass     Sex   Age     Fare  Sex_n
0         0       3    male  22.0   7.2500      1
1         1       1  female  38.0  71.2833      0
2         1       3  female  26.0   7.9250      0
3         1       1  female  35.0  53.1000      0
4         0       3    male  35.0   8.0500      1

In [8]:
nn_df = n_df.drop(['Sex'],axis = 'columns')
nn_df.head()

   Survived  Pclass   Age     Fare  Sex_n
0         0       3  22.0   7.2500      1
1         1       1  38.0  71.2833      0
2         1       3  26.0   7.9250      0
3         1       1  35.0  53.1000      0
4         0       3  35.0   8.0500      1

In [9]:
x = nn_df.drop(['Survived'],axis = 'columns')
y = nn_df['Survived']

In [10]:
x.head()

   Pclass   Age     Fare  Sex_n
0       3  22.0   7.2500      1
1       1  38.0  71.2833      0
2       3  26.0   7.9250      0
3       1  35.0  53.1000      0
4       3  35.0   8.0500      1

In [11]:
nn_df['Age'].isnull().sum()

177

In [12]:
nn_df.Age = nn_df['Age'].fillna(nn_df['Age'].mean())
nn_df['Age'].isnull().sum()

0

In [13]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [14]:
from sklearn import tree

In [15]:
model = tree.DecisionTreeClassifier()

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size = 0.2)

In [17]:
model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [18]:
model.score(X_test,Y_test)

0.7821229050279329

In [19]:
model.predict([[3,22,7.25,1]])

C:\Users\91994\Pictures\New folder\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)